<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.circularuins.twimap" >

    <!-- アプリが地図を使う許可をOSに宣言 -->
    <permission
        android:name="com.circularuins.mapex.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <!-- 顧客に対する利用許可 -->
    <!-- 地図の利用許可 -->
    <uses-permission android:name="com.circularuins.mapex.permission.MAPS_RECEIVE" />
    <!-- インターネットの利用許可 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- WEB-SERVICEの利用許可 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- 外部SDの書き込みの利用許可 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 位置情報の利用許可 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- OPENGLを使用する設定 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- google play service のバージョン -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- MAP API-V2のAPIキーの設定 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCPKb2KZHTBuQlyrfSjn2EQ8HBXzPRqKuU" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
